<h1>Home</h1>
<form method="GET" action="/search">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="state" placeholder="state">
    <button type="submit">Submit</button>
</form>